@charset "UTF-8";

/*--------------------------------
Base
---------------------------------*/

body {
    font-family: "Noto Sans", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 14.4px;
    color: #24292E;
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
	transition: 0.3s;
    color: inherit;
}

section {
    text-align: center;
    margin-bottom: 100px;
}

p, dt, dd {
    font-size: 16px;
    letter-spacing: 0.12em;
    line-height: 2.0;
}


/*--------------------------------
layout
--------------------------------*/

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.decoration-arrow {
    color: #F38BA0;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: bold;
}

/*--------------------------------
Header
--------------------------------*/
.header {
    height: 440px;
    background-color: #B5EAEA;
    margin-bottom: 100px;
}

.header h1 {
    font-size: 130px;
    color: white;
    margin-top: 0;
    margin-left: 80px;
    padding-top: 90px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-weight: 300;
}

/*--------------------------------
About
--------------------------------*/

#profile-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-right: 100px;
}

#about dl {
    margin-left: 100px;
}

#about dl .profile-item {
    display: flex;
}


/*--------------------------------
Works
--------------------------------*/

.works-sample {
    width: 340px;
    height: auto;
}

.coming-soon {
    display: flex;
    justify-content: center;
}

.coming-soon img {
    padding: 40px;
}

/*--------------------------------
Skill
--------------------------------*/

.skill-item {
    width: 350px;
    height: auto;
    padding: 50px;
}

.skill-item p {
    text-align: left;
}

/*--------------------------------
Contact
--------------------------------*/

#contact h3 {
    margin-bottom: 50px;
    font-weight: normal;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-icon {
    margin-right: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    background-color: #E2E2E2;
    border-radius: 5px;
    outline: none;
}

/* テキストエリアの高さ調整 */
.contact-form textarea {
    height: 100px;
    resize: none;
}


/*--------------------------------
Footer
--------------------------------*/
footer {
    display: flex;
    align-items: center; /* 上下中央揃え */
    justify-content: center;
    text-align: center;
    background-color: #B5EAEA;
    height: 70px;
}

footer p {
    display: block;
    color: white;
}